body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpeg'); 
    background-size: cover;
    color: rgb(246, 247, 250);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content {
    text-align: center;
}
.clock {
    font-size: 100px;
    margin-top: 20px;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
}
.info .left, .info .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info .right {
    align-items: flex-end;
}
.weather {
    font-size: 20px;
}
.crypto {
    font-size: 20px;
}
